.site-main article,
.type-post,
.type-page,
.type-attachment,
.comments-area {
	margin: 0 0 1.5em;
	padding: 0;
	max-width: 100%;
	box-sizing: border-box;
}

.entry-title {
	margin: 0.15em 0 0.2em;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(18);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--title-color);
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--title-hover-color);
}

.wp-post-image {
	margin: 0 0 0.5em;
	vertical-align: top;
}

.site-main .sticky {
	padding-bottom: 1.5em;
	border-bottom: 1px solid;
	@include border-color(--title-color);
}

.site-main .sticky .entry-header {
	padding: 1em 0 0;
	border-top: 4px solid;
	@include border-color(--title-color);
}

.entry-content a {
	text-decoration: underline;
}

/* Page Links | wp_link_pages() */
.page-links {
	clear: both;
	margin: 0 0 2em;
	word-spacing: 0.5em;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}
