body {
	direction: rtl;
	unicode-bidi: embed;
}

blockquote {
	border-left: none;
	padding-left: 0;
	padding-right: 1.25em;
	border-right: 4px solid #353535;
}

ul,
ol {
	padding: 0 1.25em 0 0;
}

li > ul,
li > ol {
	margin-left: 0;
	margin-right: 1.5em;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	left: auto;
	right: 5px;
}

.aligncenter {
	margin-left: 0;
	margin-right: 0;
	margin-left: auto;
	margin-right: auto;
}

.main-navigation ul ul a {
	padding-left: 0;
	padding-right: 2em;
}

.main-navigation ul ul ul a {
	padding-left: 0;
	padding-right: 3em;
}

.main-navigation ul ul ul ul a {
	padding-left: 0;
	padding-right: 4em;
}

.primary-menu-toggle {
	text-align: right;
}

.primary-menu-toggle .menu-toggle-text {
	margin-left: 0;
	margin-right: 0.75em;
}

.main-navigation .dropdown-toggle {
	right: auto;
	left: 0;
}

.main-navigation .dropdown-toggle.toggled-on .icon {
	transform: rotate(180deg);
}

.entry-meta span .icon {
	margin: 0.2em 0 0 0.3em;
}

.entry-tags .icon {
	margin: 0.3em 0 0 0.3em;
}

.entry-tags .meta-tags a {
	margin-right: 0;
	margin-left: 0.75em;
}

.post-navigation .nav-links .nav-previous {
	padding-right: 0;
	float: right;
	padding-left: 0.5em;
}

.post-navigation .nav-links .nav-next {
	padding-left: 0;
	float: left;
	padding-right: 0.5em;
}

.post-navigation .nav-links .nav-previous .nav-link-text::before {
	margin-right: 0;
	margin-left: 3px;
}

.post-navigation .nav-links .nav-next .nav-link-text::after {
	margin-left: 0;
	margin-right: 4px;
}

.infinite-scroll .infinite-loader .spinner {
	left: auto;
	right: auto;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
}

.wp-block-image .alignleft {
	margin-right: 0;
	margin-left: 1.5em;
}

.wp-block-image .alignright {
	margin-left: 0;
	margin-right: 1.5em;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 1em 0.5em 0;
}

.search-form .search-field {
	padding: 0.5em 0.7em 0.5em 1.5em;
}

.search-form .search-submit {
	right: auto;
	left: 0;
}

.widget-magazine-posts .type-post .entry-meta span .icon {
	margin: 0.2em 0 0 0.3em;
}

.widget-magazine-posts .magazine-posts-overlay .type-post .post-content {
	left: auto;
	right: 0;
}

.comment-meta {
	float: right;
}

.comment-meta .comment-author img {
	margin-right: 0;
	float: right;
	margin-left: 1em;
}

.comment-meta .comment-metadata a {
	margin-right: 0;
	margin-left: 1em;
}

.comment-content {
	clear: right;
}

.comment-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next {
	float: left;
}

.comment-navigation .nav-previous a:before {
	margin-right: 0;
	margin-left: 3px;
}

.comment-navigation .nav-next a:after {
	margin-left: 0;
	margin-right: 4px;
}

.comment-form input[type="checkbox"] + label {
	padding-left: 0;
	padding-right: 0.5em;
}

.comment-reply-title small a {
	margin-left: 0;
	margin-right: 1em;
}

.wp-caption img[class*="wp-image-"] {
	margin-right: 0;
	margin-left: 0;
	margin-right: auto;
	margin-left: auto;
}

.gallery-item {
	padding: 0 0 0.75em 1em;
}

.breadcrumbs .trail-browse {
	margin-right: 0;
	margin-left: 0.5em;
}

.tz-magazine-block .tz-meta-field {
	margin-right: 0;
	margin-left: 0;
}

@supports (display: grid) {
}

@media only screen and (min-width: 25em) {

	.entry-meta .meta-date,
	.entry-meta .meta-author {
		margin-right: 0;
		margin-left: 1em;
	}
}

@media only screen and (min-width: 40em) {

	.entry-meta span .icon {
		margin: 0.3em 0 0 0.3em;
	}
}

@supports (display: grid) {

	@media only screen and (min-width: 40em) {

		.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .wp-post-image {
			padding-right: 0;
			padding-left: 1.5em;
		}
	}

	@media only screen and (min-width: 57.5em) {

		.header-main {
			text-align: right;
		}

		.header-social-menu {
			margin-left: 0;
			margin-right: auto;
		}

		.site-footer .site-info {
			text-align: right;
		}

		.fullwidth-single-post.single-post .has-post-thumbnail .single-header .entry-header {
			margin: -4em 0 0 4em;
			padding: 1em 0 0 1em;
		}
	}
}

@media only screen and (min-width: 60em) {

	.primary-navigation {
		margin-left: 0;
		margin-right: auto;
	}

	.main-navigation ul ul {
		left: auto;
		right: -999em;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		right: auto;
		left: auto;
		right: 0;
	}

	.main-navigation ul ul ul {
		left: auto;
		right: -999em;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		right: auto;
		left: auto;
		right: 100%;
	}

	.main-navigation .menu-item-has-children > a > .icon {
		left: auto;
		right: 0.5rem;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon {
		left: auto;
		right: auto;
		left: 1em;
		transform: rotate(90deg);
	}
}

@media only screen and (min-width: 30em) {

	.widget-magazine-focus .widget-magazine-content,
	.widget-magazine-grid .widget-magazine-content {
		margin-right: 0;
		margin-left: -1em;
	}

	.widget-magazine-focus .widget-magazine-content .magazine-post,
	.widget-magazine-grid .widget-magazine-content .magazine-post {
		padding-right: 0;
		padding-left: 1em;
	}

	.widget-magazine-focus .magazine-posts-overlay,
	.widget-magazine-grid .magazine-posts-overlay {
		margin-right: 0;
		margin-left: 1px;
	}

	.widget-magazine-focus .magazine-posts-overlay .magazine-post,
	.widget-magazine-grid .magazine-posts-overlay .magazine-post {
		padding-right: 0;
		padding-left: 1px;
	}
}

@supports (display: grid) {

	@media only screen and (min-width: 30em) {

		.widget-magazine-focus .widget-magazine-content,
		.widget-magazine-grid .widget-magazine-content {
			margin-right: 0;
			margin-left: 0;
		}

		.widget-magazine-focus .widget-magazine-content .magazine-post,
		.widget-magazine-grid .widget-magazine-content .magazine-post {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

@media only screen and (min-width: 20em) {

	.alignleft {
		margin-right: 0;
		float: right;
		margin-left: 1.5em;
	}

	.alignright {
		margin-left: 0;
		float: left;
		margin-right: 1.5em;
	}
}

@media only screen and (min-width: 30em) {

	.gallery-item {
		padding: 0 0 1em 1.5em;
	}
}
@supports (display: grid) {

	@media only screen and (min-width: 57.5em) {

		.no-sidebar.single-post .content-single .type-post .single-header,
		.no-sidebar.single-post .content-single .type-post .single-content,
		.single-post .content-no-sidebar .type-post .single-header,
		.single-post .content-no-sidebar .type-post .single-content {
			margin-right: 0;
			margin-left: 0;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	padding: 1em 55px 1em 1em;
}

.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	left: auto;
	right: 15px;
}

.customize-partial-edit-shortcut-mercia_theme_options-blog_description,
.customize-partial-edit-shortcut-mercia_blog_content_partial {
	left: auto;
	right: -9999px;
}
