.site {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 1.5em;
	max-width: 52em;
	width: 100%;
	@include background(--page-background-color);
}

.sidebar {
	border-top: 1px solid;
	@include border-color(--light-border-color);
	padding: 1.5em 0 0;
}
