@media only screen and (min-width: 25em) {
	.entry-meta .meta-date,
	.entry-meta .meta-author,
	.entry-meta .meta-category {
		display: inline-block;
	}

	.entry-meta .meta-date,
	.entry-meta .meta-author {
		margin-right: 1em;
	}
}

@media only screen and (min-width: 40em) {
	.site {
		padding: 0 2em;
	}

	.site-header,
	.header-image,
	.widget,
	.site-main article,
	.type-post,
	.type-page,
	.type-attachment,
	.comments-area,
	.entry-tags,
	.pagination,
	.infinite-scroll #infinite-handle span {
		margin-bottom: 2em;
	}

	.widget-title {
		margin: 0 0 1em;
	}

	.wp-post-image {
		margin: 0 0 0.75em;
	}

	.entry-meta {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.entry-meta span .icon {
		margin: 0.3em 0.3em 0 0;
		width: 19px;
		height: 19px;
	}
}

@supports ( display: grid ) {

	.site {
		max-width: 1220px;
	}

	@media only screen and (min-width: 40em) {

		/* Blog: List Layout */
		.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail {
			display: grid;
			grid-template-columns: 42% auto;
		}

		.blog-list-layout.post-thumbnails-hidden .content-archive .post-wrapper .has-post-thumbnail {
			display: block;
		}

		.blog-list-layout .content-archive .post-wrapper .type-post {
			margin: 0 0 1.5em;
			padding: 0 0 1.5em;
			border-bottom: 1px solid rgba(0,0,0,0.075);
		}

		.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .wp-post-image {
			margin: 0;
			padding-right: 1.5em;
		}

		/* Blog: Grid Layout */
		.blog-grid-layout .content-archive .post-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 1.5em;
			margin: 0 0 2em;
		}

		.blog-grid-layout .content-archive .post-wrapper .type-post {
			margin: 0;
		}
	}

	@media only screen and (min-width: 57.5em) {
		.site-content {
			display: grid;
			grid-template-columns: 7fr 3fr;
			grid-column-gap: 2em;
		}

		.content-area {
			box-sizing: border-box;
			grid-row-start: 1;
			grid-column-start: 1;
			min-width: 0;
		}

		.sidebar {
			grid-row-start: 1;
			grid-column-start: 2;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			border: none;
			min-width: 0;
		}

		.header-main {
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			text-align: left;
		}

		.header-social-menu {
			display: block;
			margin-top: 0.25em;
			margin-left: auto;
		}

		.site-footer .site-info {
			text-align: left;
		}

		/* Single Post Layout */
		.single-post .site-content {
			display: block;
		}

		.single-post .type-post {
			display: grid;
			grid-template-columns: 7fr 3fr;
			grid-template-rows: auto 1fr;
			grid-column-gap: 2em;
			margin-bottom: 0;
		}

		.single-post .type-post .single-header,
		.single-post .type-post .single-content,
		.single-post .type-post .sidebar {
			min-width: 0;
		}

		.single-post .type-post .sidebar {
			grid-column-start: 2;
			grid-row: 1 / span 2;
		}

		/* Fullwidth Single Post Layout */
		.fullwidth-single-post.single-post .type-post .single-header {
			grid-column: 1 / span 2;
		}

		.fullwidth-single-post.single-post .type-post .sidebar {
			grid-row: 2 / span 1;
		}

		.fullwidth-single-post.single-post .type-post .single-header {
			display: flex;
			flex-direction: column;
			margin: 0 0 1.5em;
			padding: 0;
		}

		.fullwidth-single-post.single-post .has-post-thumbnail .single-header .entry-header {
			margin: -4em 4em 0 0;
			padding: 1em 1em 0 0;
			background: #fff;
		}

		.fullwidth-single-post.single-post.post-thumbnail-hidden .has-post-thumbnail .single-header .entry-header {
			margin: 0;
			padding: 0;
		}

		.fullwidth-single-post.single-post .type-post .single-header .entry-title {
			font-size: 32px;
			font-size: 2rem;
		}

		.fullwidth-single-post.single-post .type-post .single-content .entry-content p:first-child {
			margin-top: 0;
		}
	}

	@media only screen and (min-width: 75em) {
		.site {
			padding: 0 2.5em;
		}

		.header-main {
			padding: 2em 0;
		}

		.site-content,
		.single-post .type-post {
			grid-column-gap: 2.5em;
		}

		.site-header,
		.header-image,
		.widget,
		.site-main article,
		.type-post,
		.type-page,
		.type-attachment,
		.comments-area,
		.entry-tags,
		.pagination,
		.infinite-scroll #infinite-handle span,
		.blog-grid-layout .content-archive .post-wrapper {
			margin-bottom: 2.5em;
		}

		/* Blog Layout */
		.blog-grid-layout .content-archive .post-wrapper {
			grid-gap: 2em;
		}
	}
}
