
/*--------------------------------------------------------------
# 20.0 Customizer Preview
--------------------------------------------------------------*/
.magazine-widgets-placeholder {
	position: relative;
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	display: block;
	margin: 0;
	padding: 1em 1em 1em 55px;
	border: 2px dashed #0085ba;
	color: #0085ba;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Add some styling for visual edit shortcut buttons. */
.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	top: 14px;
	left: 15px;
}

.customize-partial-edit-shortcut-mercia_theme_options-blog_description,
.customize-partial-edit-shortcut-mercia_blog_content_partial {
	left: -9999px;
}

/*--------------------------------------------------------------
# 21.0 Print Styles
--------------------------------------------------------------*/

@media print {
	/* Hide elements */
	form,
	button,
	input,
	select,
	textarea,
	.header-bar-wrap,
	.primary-navigation-wrap,
	#secondary,
	.footer-navigation,
	.footer-widgets-background,
	.header-image,
	.page-links,
	.post-navigation,
	.pagination.navigation,
	.comments-area,
	.footer-wrap,
	.scroll-to-top {
		display: none !important;
	}

	body,
	.site {
		background: none !important;
	}

	.content-area {
		padding: 0;
		width: 100%;
	}
}
