.widget {
	margin: 0 0 1.5em;
	padding: 0;
	max-width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-title {
	margin: 0 0 0.75em;
	padding: 0;
	@include color(--widget-title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(17);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget ul li,
.widget ol li {
	padding: 0.4em 0;
	border-top: 1px solid;
	@include border-color(--light-border-color);
}

.widget ul > li:last-child {
	border-bottom: 1px solid;
	@include border-color(--light-border-color);
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget-title a:link,
.widget-title a:visited {
	@include color(--widget-title-color);
}

.widget-title a:hover,
.widget-title a:active {
	text-decoration: underline;
}

/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 1.5em 0.5em 0.7em;
	min-width: 150px;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.6em 0.8em;
	border: none;
	@include background(--button-color);
}

.search-form .search-submit:hover,
.search-form .search-submit:active {
	@include background(--button-hover-color);
}

.search-form .search-submit .icon-search {
	margin: 5px 0 0;
	width: 22px;
	height: 22px;
	fill: currentColor;
}
